body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebe9e9;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}