body {
    margin: 0 !important;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

    .splide__track {
      padding: 10px !important;
    }
 
  .ant-upload-list-item-done{
    margin-top: 0px !important;
    height: 35px !important;
    padding-left: 15px !important;

}
.ant-upload-list-item-thumbnail{
    width: 36px !important;
    height: 36px !important;
}